doctype
html
    head
        title="React Initial Index"
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
        link(href="css/react-initial-index.css",rel="stylesheet",type="text/css")
    body
        header
            span Header
        section#initial-index.initial-index
        footer
            span Footer
        script(src="js/react-initial-index.min.js")
